* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Lavadoras/Images/Fondo_Negro_5.webp);
}

.form-register {
  width: 400px;
  background: #adb0b2;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px; /* Aumenta el radio para bordes más suaves */
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.form-register {
  display: flex;
  flex-direction: column; /* Asegúrate de que los elementos se alineen en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 400px;
  background: #adb0b2;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.controls {
  width: 100%;
  background: #14202b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: white;
  
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 4px; /* Añadir bordes redondeados */
}
